    <%- include('layout/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Funix-ASM1</title>
</head>

<body>
   <%- include('layout/navbar.ejs') %>
   <div class="container">
   	<h1 class="ml-4 mt-5">Sorry - Page Not Found!</h1>
   </div>

<%- include('layout/end.ejs') %>