<%- include('../layout/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<title>Funix-ASM1</title>
</head>
<!--------------------------------------- -->

<body>
<!-- include navbar -->
<%- include('../layout/navbar.ejs') %>
<!-- ------------------------------------- -->
<main>
    <!-- checkin -->
    <div tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content align-items-center">
          <h4 class="mt-4">BẢNG ĐIỂM DANH</h4>

          <div class="mt-4 text-center">
            <h6>THÔNG TIN ĐIỂM DANH</h6>
            <p>Họ và tên: Nguyễn Văn A</p>
            <p class="work-status-btn">Trạng thái: Chưa điểm danh</p>
          </div>

          <!-- workplace selector -->
          <div class="col-8">
            <label for="workplace" class="form-label">Nơi làm việc:</label>
            <form class="input-group mb-3">
              <select class="form-select" name="workplace" id="workplace">
                <option value="company">Công ty</option>
                <option value="customer">Khách hàng</option>
                <option value="home">Nhà</option>
              </select>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal-checkin-success">Điểm danh</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal-checkin-success -->
    <div class="modal fade" id="modal-checkin-success" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ĐIỂM DANH THÀNH CÔNG</h5>
          </div>
          <div class="modal-body">
            <form action="/checkin" class="mt-4 text-center" method="POST">
              <h6>THÔNG TIN ĐIỂM DANH</h6>
              <p>Họ và tên: Nguyễn Văn A</p>
              <p>nơi làm việc: công ty</p>
              <p>Thời gian bắt đầu: 9:00</p>
              <p>Phép năm: 5 ngày</p>
              <p class="work-status-btn">Trạng thái: Đang làm việc</p>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Xác Nhận</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>

<!-- ------------------------------------- -->
<%- include('../layout/end.ejs') %>
</body>