  <%- include('../layout/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <title>Funix-ASM1</title>
</head>
<!-- ------------------------------------- -->

<body>
  <!-- include navbar -->
  <%- include('../layout/navbar.ejs') %>
<!-- ------------------------------------- -->
  <main>
    <div class="container">
      <!-- button -->
      <div class="d-flex min-vh-100 justify-content-center align-items-center">
        <button type="button" class="btn disabled btn-primary m-2" >Vui lòng đăng nhập</button>
      </div>
    </div>

  </main>

<!-- ------------------------------------- -->
  <%- include('../layout/end.ejs') %>
</body>
