<%- include('../layout/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<title>Funix-ASM1</title>
</head>
<!-- ------------------------------------- -->

<body>
<!-- include navbar -->
<%- include('../layout/navbar.ejs') %>
<!-- ------------------------------------- -->
<main>
   <div class="container">
      <form class="row login-form" action="/login" method="POST">
         <div class="mb-3 mt-5 col-6 offset-3">
            <h4>Đăng Nhập:</h4>   
            <label for="email" class="form-label mt-4">Email address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
         </div>
          <div class="mb-3 col-6 offset-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-primary col-xs-12 col-sm-3 mt-4">Đăng Nhập</button>
         </div>
      </form>
   </div>
</main>

<!-- ------------------------------------- -->
<%- include('../layout/end.ejs') %>
</body>