<%- include('../layout/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<title>Funix-ASM1</title>
</head>
<!-- ------------------------------------- -->

<body>
<!-- include navbar -->
<%- include('../layout/navbar.ejs') %>
<!-- ------------------------------------- -->
<main>
   <div class="container">
      <div class="row">
         <div class="mb-3 col-6 offset-3">
            <h4 class="mt-5">Thông Tin Covid Cá Nhân:</h4>
            <br>
            <h6 id="user-covid-date">Ngày: 2002/1/1 9:30</h6>
            <h6 id="user-covid-quantity">Mũi Thứ: 1</h6>
            <h6 id="user-covid-vaccine">Loại Vaccine: Moderna</h6>
            <h6 id="user-covid-status">Trạng Thái: Âm Tính</h6>
         </div>
      </div>
   </div>
</main>

<!-- ------------------------------------- -->
<%- include('../layout/end.ejs') %>
</body>