<%- include('../layout/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<title>Funix-ASM1</title>
</head>
<!-- ------------------------------------- -->

<body>
<!-- include navbar -->
<%- include('../layout/navbar.ejs') %>
<!-- ------------------------------------- -->
<main>
   <div class="container">
      <div class="row">
         <div class="mb-3 col-6 offset-3">
            <h4 class="mt-5">Thông Tin Giờ Làm:</h4>
            <br>
            <h6 id="user-worktime-date">Ngày: 2002/1/1</h6>
            <h6 id="user-worktime-workPlace">Nơi Làm Việc: workplace</h6>
            <h6 id="user-worktime-annualLeave">Phép Năm Đã Đăng Ký: 5 Ngày</h6>
            <h6 id="user-worktime-startHour">Giờ Bắt Đầu: 9:00</h6>
            <h6 id="user-worktime-endHour">Giờ Kết Thúc: 18:00</h6>
            <h6 id="user-worktime-total">Tổng Giờ Làm: 8</h6>
            <h6 id="user-salaryScale">Salary Scale: 1.0</h6>
         </div>
      </div>
   </div>
</main>

<!-- ------------------------------------- -->
<%- include('../layout/end.ejs') %>
</body>